body {
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
    width: 250px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, button {
    padding: 10px;
    border: 1px solid #191970;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

p#message {
    color: red;
    text-align: center;
}
